<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Színész - IMDb</title>
    <link href="css/global.css" rel="stylesheet">
    <link href="css/nav.css" rel="stylesheet">
    <link href="css/item.css" rel="stylesheet">

    <script src="script/actor.js" defer></script>
    <script src="script/nav.js" defer></script>
</head>

<body>
    <nav id="nav"> </nav>
    <div class="container">
        <div class="content">
            <img id="picture" alt="" src="">
            <div class="text-content">
                <h1 id="name"></h1>
                <span id="update"></span>
                <p class="properties" id="roles"></p>
                <h2>Életrajz: </h2>
                <p class="description" id="description"> </p>
                <h2>Születésnap: </h2>
                <p class="description" id="birthday"></p>
            </div>
        </div>
    </div>
    <footer>
        <span>© 2021</span>
    </footer>
</body>

</html>