<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Felhasználók - IMDb</title>
    <link href="css/global.css" rel="stylesheet">
    <link href="css/nav.css" rel="stylesheet">
    <link href="css/users.css" rel="stylesheet">
    
    <script defer src="script/users.js"></script>
    <script src="script/nav.js" defer></script>

</head>

<body>
    <nav id="nav"> </nav>
<div class="container">
    <div class="content">
        <h1>
            Felhasználók
        </h1>
        <table id="users">
            <tr>
                <td>Felhasználónév</td>
                <td>E-mail cím</td>
                <td>Születési dátum</td>
                <td>Szerep</td>
                <td>ID</td>
            </tr>
        </table>
    </div>
</div>
<footer>
    <span>© 2021</span>
</footer>
</body>

</html>