<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés - IMDb</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/watchlist.css">

    <!--<script src="script/data.js" defer></script>-->
    <script src="script/nav.js" defer></script>
    <script type="module" src="script/watchlist.js" defer></script>
</head>

<body>
    <nav id="nav"> </nav>
    <div class="container" id="container">
    </div>
    <footer>
        <span>© 2021</span>
    </footer>
</body>

</html>