/*#region -----BACKGROUND-----*/
.container {
    align-items: center;
    justify-content: center;
}

.clip-path {
    clip-path: polygon(0 0, 100% 0%, 100% 33%, 0 66%);
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--g3);
    z-index: 1;
}

/*#endregion*/

/*#region -----LOG-PANEL-----*/
.container .log-panel {
    padding: 25px 40px 5px 40px;
    background-color: var(--g4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

.container .log-panel h2 {
    font-size: 25px;
    margin-bottom: 35px;
}

input, input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
 textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, 
 select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px var(--g1) inset !important;
    outline: none;
    border: none;
    border-radius: 20px;
    margin: 5px 0 15px 0;
    color: black;
    background-color: var(--g1);
    padding: 4px 10px;
    width: 100%;
}

.container .log-panel p {
    text-align: center;
    margin-bottom: 15px;
}

.container .log-panel p .here {
    text-decoration: underline;
}

#error{
    margin-top: 10px;
}
/*#endregion*/