.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 20px;
}

.list-item {
    background-color: var(--g5);
    width: 700px;
    padding: 10px;
    position: relative;
    margin: 10px 0;
}

.picture {
    float: left;
    height: 150px;
    margin-right: 10px;
}

.info {
    font-size: 15px;
    display: block;
    margin: 5px 0;
}

.delete{
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}